RewriteEngine On

# remove www.
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^ %{REQUEST_SCHEME}://%1%{REQUEST_URI} [NE,L,R=301]

# trim trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} /(.*)/+$
RewriteRule ^ /%1 [NE,L,R=301]

# trim double leading slash
RewriteCond %{REQUEST_URI} ^/(/.*)$
RewriteRule ^ %1 [R=301,L]

# default router
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^ index.php [NC,L]